.underline {
    width: 170px;
    height: 45px;
    border: 7px solid rgb(115, 68, 214);
    border-color: rgb(115, 68, 214) transparent transparent transparent;
    border-radius: 50%;
}

@media only screen and (max-width:768px){
    .about{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .man, .hand{
        display: none;
    }

    .content{
        width: 600px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .rocket{
        width: 250px;
    }

    .txt{
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }

}