.underline {
    width: 170px;
    height: 45px;
    border: 7px solid rgb(115, 68, 214);
    border-color: rgb(115, 68, 214) transparent transparent transparent;
    border-radius: 50%;
}

@media only screen and (max-width:768px){

    /* .aboutSec{
        height: 100vh;
    } */

    .about{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .man, .hand{
        display: none;
    }

    .rocket{
        max-width: 250px;
        position: relative;
    }

    .content{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* .words{
        position: absolute;
        top: -70px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pallete{
        position: absolute;
        top: 40px;
    } */
}