.touch, .build {
  transition: transform 0.2s ease-in-out;
}

.touch:hover, .build:hover {
  transform: scale(1.1);
}

.touch:active {
  transform: scale(0.95);
}

@media only screen and (max-width:768px) {
  .Right{
    height: 100%;
    width: 100vw;
    opacity: 0.25;
    justify-content: center;
    align-items: center;
  }

  .Left{
    width: 100vw;
    z-index: 10;
  }

  .hero{
    display: flex;
    flex-direction: column;
  }

  .Right, .Left{
    position: absolute;
    top: 0;
  }

  .content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .web{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

}