.bord{
    width: 150px;
    height: 20px;
    border: 5px solid rgb(149,123,161);
    border-color: rgb(149,123,161) transparent transparent transparent;
    border-radius: 50%;
}

.arrow-line {
  width: 5px;
  height: 250px;
  background: white;
}


.arrow-tri{
    width: 30px;
    height: 30px;
    border: 40px solid white;
    border-right:1.2rem solid transparent;
    border-left:1.2rem solid transparent;
    border-bottom:2rem solid transparent;
}

@media only screen and (max-width:768px){
    .svg{
        display: none;
    }

    .textblock{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 35px;
    }

    .content{
        min-width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .bounce{
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: center;
        inset: 0;
        top: 200px;
    }

    .bounce img{
        width: 300px;
    }
}